.comments_block{
    background-color: #1D1E25;
    padding-top: 140px;
    padding-bottom: 145px;
}
.inner{
    width: 1005px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.title{
    font-size: 42px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    max-width: 245px;
    line-height: 0.909;
    margin-bottom: 40px;
    margin-top: 0;
}
.underline{
    width: 70px;
    height: 5px;
    display: block;
    background-color: #F9D10D;
}



@media (max-width: 1300px) {
    .inner{
        width: 991px;
    }
}
@media (max-width: 1040px) {
    .inner{
        width: 767px;
    }
}
@media (max-width: 800px) {
    .inner{
        width: 100%;
        flex-direction: column;
        padding-left: 15px;
        padding-right: 15px;
        box-sizing: border-box;
    }
    .comments_block{
        padding-top: 30px;
        padding-bottom: 30px;
    }
}