.properties_header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 164px;
}
.wrapImg{
    display: inline-block;
}
.wrapImg img{
    width: 120px;
}

@media(max-width: 1040px){
    .properties_header{
        min-height: 90px;
    }
}