footer {
    background-color: #1D1E25;
}

.line {
    border-top: 1.5px solid #2B2C36;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 105px;
}

.list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.list li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 16px;
    line-height: 1.875;
    font-weight: 400;
}
.line span{
    font-size: 13px;
    color: rgb(74, 77, 94);
    font-weight: 400;
    display: block;
}

