.NavItem{
    list-style-type: none;
    height: 50px;
    margin-right: 38px;
}
.NavItem:last-child{
    margin: 0;
}
.NavItem a{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: rgb(17, 21, 24);
    text-transform: uppercase;
}
.NavItem a span{
    background-color: #F9D10D;
    display: none;
    width: 100%;
    height: 2px;
    position: absolute;
    top:0;
    left: 0;
}


a.Active span {
    display: block;
}

@media (max-width: 560px) {
    .NavItem{
        list-style-type: none;
        height: 25px;
        margin-right:0;
    }
}
