.card{
    width:100%;
    /*border:1px solid red;*/
    padding: 30px;
    box-sizing: border-box;
    display: inline-block;
}
.inset{
    /*border:1px solid green;*/
    box-shadow: 6.5px 11.258px 30px 0px rgba(17, 21, 24, 0.04);
    border-radius: 3px;
    padding:15px 15px 45px 15px;
}

.title_card{
    color: rgb(51, 51, 51);
    line-height: 1.2;
    font-size: 20px;
    font-weight: 400;
    word-wrap: break-word;
    margin-bottom: 30px;
}
.short_review{
    line-height: 1.6;
    font-size: 14px;
    font-weight: 400;
    color: #ADADAD;
    margin-bottom: 30px;
    word-wrap: break-word;
}
.read_more{
    color:black;
    text-decoration: none;
    width: 150px;
    height: 55px;
    border-radius: 3px;
    border: none;
    background-color: #60E3A1;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 1040px){
    .card{
        /*width:50%;*/
    }
}
@media(max-width: 800px){
    .card{
        padding: 15px;
    }
}

@media(max-width: 560px){
    .card{
        width:100%;
        padding: 0;
    }
}
