@import "assets/fonts/stylesheet.css";
body {
  font-family: 'Sofia Pro';
  margin: 0;
  padding: 0;
}
.App{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*justify-content: space-between;*/
  /*min-height: 100vh;*/
}
code {

}
.myContainer{
  width: 1266px;
  /*border:1px solid red;*/
  margin: auto;
  box-sizing: border-box;
}
.greenButton{
  border-radius: 3px;
  background-color: rgb(96, 227, 161);
  width: 150px;
  height: 55px;
  font-size: 12px;
  color: rgb(29, 30, 37);
  font-weight: 400;
  border:none;
  outline: none;
  cursor: pointer;
}


@media (max-width: 1300px){
  .myContainer{
    width: 991px;
  }
}
@media (max-width: 1040px){
  .myContainer{
    width: 767px;
  }
}
@media (max-width: 800px){
  .myContainer{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
  }
}